/* Target the terminal specifically */
pre.terminal {
    background-color: #2d2d2d !important; /* Dark Gray */
    color: #4AF626 !important; /* Courier Green */
    
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 14px !important;
    line-height: 1.5 !important;

    border-radius: 6px !important;
    padding: 40px 20px 20px 20px !important;
    position: relative;
    margin: 25px 0;
    box-shadow: 0 8px 24px rgba(0,0,0,0.4) !important;
    border: 1px solid #444 !important;
    white-space: pre !important;
}

/* FORCE ALL CHILD TEXT (SPANS) TO BE GREEN */
/* This stops the syntax highlighter from making some words blue/red */
pre.terminal span {
    color: #4AF626 !important;
    background: transparent !important;
}

/* Window Buttons */
pre.terminal::before {
    content: "● ● ●";
    position: absolute;
    top: 12px;
    left: 18px;
    font-size: 11px;
    letter-spacing: 4px;
    color: #ff5f56; 
    text-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f; 
    font-family: sans-serif !important;
}